<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net462" />
  <package id="Autofac" version="4.9.4" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="4.3.1" targetFramework="net462" />
  <package id="Mapster" version="7.2.0" targetFramework="net462" />
  <package id="Mapster.Core" version="1.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="6.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="NPOI" version="2.5.3" targetFramework="net451" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net451" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net451" />
  <package id="TinyMapper" version="2.0.8" targetFramework="net45" />
</packages>